// ======================================
//  Mixins
// ======================================

// Media Queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $mobile: map-get($breakpoints, 'mobile');

    @if $value == null {
      @error "'#{$break}' is not a valid breakpoint name.";
    }
    @else if $value > $mobile {
      @media (min-width: $value) {
        @content;
      }
    }
    @else {
      @content;
    }
}

// Fonts
@mixin font($fontstyle, $color: $grey, $size: $base__font-size) {
  font-family: $font-family--primary;
  font-weight: map-get($fontweight, $fontstyle);
  color: $color;
  font-size: $size;
}

// Flexboxes
@mixin flex(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $algn: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $algn;
}

// Grids mixin mit for um die breite mit hilfe von der funktion col-width zu berechnen
@mixin grid-width() {
  @for $i from 2 through 12 {
    .grid__col--#{$i} {
      width: col-width($i);
    }
  }
}

// Buttons, Borders and Shapes
@mixin cols($color, $border: 5px) {
  background-color: $color;
  border-radius: $border;
  @include mq('mobile') {
    line-height: $col-height * 1.2;
  }
  @include mq('desktop') {
    line-height: $col-height * .8;
    }
}

@mixin btn-color($map) {
  @each $theme, $color in $map {
    .btn--#{$theme} {
      background-color: $color;
      height: $col-height;
      border-radius: 5px;
      border-color: $color;
      color: $white;
      text-transform: uppercase;
      margin: $indent 0;
      @include mq('desktop') {
        width: col-width(5);
        margin-left: $indent*4;
      }
    }
  }
}

@mixin grid-color($map) {
  @each $theme, $color in $map {
    .grid__col--#{$theme} {
      background-color: $color;
      height: $col-height;
      border-radius: 5px;
      padding: $indent;
      margin: $indent 0;
      @include mq('desktop') {
        margin: $indent/2;
      }
    }
  }
}

@mixin border($border) {
  $value: map-get($borders, $border);
  $quote: map-get($borders, 'quote');
  @if $value == $quote {
    border-left: 8px solid $color_primary;
    border-radius: 5px;
    margin-bottom: 3em;
    padding-left: $indent;
  } @else {
    border-bottom: 6px solid $color_primary;
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: $indent;
    padding-left: $indent;
    width: 96%;
  }
}
