// ======================================
//  General
// ======================================
.container {
  @include flex($dir: column);
  padding: 2em 2.5em;
  align-items: center;
  @include mq('mobile') {
    width: map-get($breakpoints, mobile);
  }
}

.grid__row {
  @include flex($dir: column);
  width: 100%;
  margin: 2em 0 2em 0;
  @include mq('mobile') {
    width: 100%;
  }
}
//.grid__col--2
.grid__col--3 {
  text-align: center;
}
//.grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors
