// ======================================
//  General
// ======================================
.container {
  @include flex($dir: column);
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  padding: 2em;
  align-items: center;
  @include mq('mobile') {
    width: map-get($breakpoints, mobile);
  }
  @include mq('desktop') {
    min-width: map-get($breakpoints, 'desktop');
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding-top: $indent;
  }
}

.grid__row {
  @include flex($dir: column);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
    & ul {
      @include flex($dir: column);
      text-align: center;
    }
  @include btn-color($color-themes);
    &:nth-of-type(1n+6) {
  @include grid-color($color-themes);
}
  @include mq('mobile') {
    width: 100%;
  }
  @include mq('desktop') {
    @include flex($dir: row, $just: space-between);
    width: 100%;
    @for $i from 2 through 12 {
      @include grid-width();
    }
    &:first-of-type {
      padding: 0 $indent*4;
    }
    & .card {
      padding-right: $indent * 5;
    }
  }
}

.grid__col--2,
.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12 {
  @include flex($dir: column);
  @include mq('desktop') {
    @include flex($dir: row, $just: space-around);
    & nav .nav {
      @include flex($dir: row);
    }
    &  .btn--info {
      margin-right: $indent*4;
    }
  }
}

.grid__col--9 {
  justify-content: center;
}

.centered {
  justify-content: center;
}
