// ======================================
//  Images
// ======================================

.img--logo {
  width: 100%;
  margin: 0 auto 2em auto;
  padding: 0 30%;
    @include mq('desktop') {
      height: 50%;
      width: auto;
      padding-left: 0;
  }
}

.img--frame {
  border: 1px solid $grey;
  padding: $indent;
  margin-bottom: $indent * 2;
  @include mq('desktop') {
    margin: auto;
  }
}

.img--avatar {
  display: block;
  margin: auto;
  padding: 1em 0 2em 0;
  @include mq('desktop') {
      width: 170px;
  }
}
