// ======================================
//  Navigation
// ======================================

.nav__item {
  @include cols(null);
  & a {
    text-decoration: none;
    @include font('reg', $grey);
  }
  &:hover {
    background-color: $color_primary;
    & a {
      color: $white;
    }
  }
  @include mq('desktop') {
    margin-left: $indent;
    margin-top: $indent;
    padding: 0 $indent;
  }
}
