// ======================================
//  Navigation
// ======================================

.nav__item {
  @include cols(null);
  @extend a;
  &:first-of-type {
    background-color: $color_primary;
    & a {
      color: $white;
    }
  }
  @include mq('desktop') {
    margin-left: 10px;
    margin-top: $indent;
    padding: 0 $indent;
  }
}
